body{
    font-family:sans-serif;
    background-image: url("image01.jpg");
}

#header,#footer{
    width: 800px;
}

input{
    background: #CADEF3;
    padding-bottom: 3px;
    padding-top: 3px;
}

#header{
    border-bottom: solid ;
    padding: 20px;
}

#header_left{
    float: left;
}

#content{
    left: 440px;
    position: relative;
}

#b{
    alignment-adjust: text-after-edge;
}

#translate{
    background: yellow;
    position: relative;
    left:170px;
}

textarea{
    background:rgb(209, 235, 241);
    border-color: rgb(20, 19, 19);
    width: 435px;
    height: 100px;
    border: solid 1px;
}

label{
    padding: 10px;
}
#reset,#copy{
    position: relative;
    left: 385px;
}
#in,#out{
	font-size:20px;
}
#trns_title{
	font-size:40px;
	font-weight:1px;
}
